// -----------------------------------------------------------------------------
// This file contains all header styles.
// -----------------------------------------------------------------------------

.header {
    &.navbar{
        background: linear-gradient(90deg, #0b303c 26.11%, #0b303c 74.13%);

        .header-container{
            position: relative;

            .nav-left{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                li{
                    a{
                        min-height: auto;
                        color: $white;
                    }
                }
            }

            .nav-right {
                .dropdown-menu{
                    transform: unset;
                }
            }
        }
    }
}
