// -----------------------------------------------------------------------------
// This file contains all content styles.
// -----------------------------------------------------------------------------

.section-ct{
    margin: 20px auto;
    display: block;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
