// -----------------------------------------------------------------------------
// This file contains all header styles.
// -----------------------------------------------------------------------------

.header-dasibana{
    .navbar{
        background-color: $main-bg;
        .navbar-brand{
            img{
                width: 120px;
            }
        }

        .menu-header{
            ul{
                li{
                    a{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
