// -----------------------------------------------------------------------------
// This file contains all faq styles.
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1 - Configuration and helpers
@import '../abstracts/index';

// 2 - Base stuff
@import '../base/index';

.faq-section{
    section{
        &.sec-faq{
            .content-faq{
                .accordion{
                    .card{
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 0;
                        padding: 15px 20px;
                        &.--active{
                            border-left: 5px solid $green-vegan;
                            background-color: rgba(31, 188, 157, 0.08);
                        }
                        .card-header{
                            border: unset;
                            padding: 0;
                            background-color: transparent;
                            margin-right: 20px;
                            .btn-faq{
                                position: relative;
                                width: 100%;
                                background-color: transparent;
                                border: unset;
                                text-align: left;
                                font-family: "Asap_reg", sans-serif !important;
                                color: #294B4B;
                                padding: 0;
                                letter-spacing: .03em;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: -15px;
                                    content: '\f107';
                                    color: rgba(0, 0, 0, 0.8);
                                    font-size: 20px;
                                    cursor: pointer;
                                    font-family: "Font Awesome 5 Free";
                                }

                                &[aria-expanded="true"]{
                                    &::after{
                                        content: '\f106';
                                    }
                                }
                            }
                        }
                        .collapse, .collapsing{
                            .card-body{
                                padding: 10px 0 !important;
                                min-height: 0 !important;
                                p{
                                    color: rgba(41, 75, 75, 0.7);
                                    padding: 0 !important;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
