// -----------------------------------------------------------------------------
// This file contains all history styles.
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1 - Configuration and helpers
@import '../abstracts/index';

// 2 - Base stuff
@import '../base/index';

.history-section {
    margin-bottom: 50px;
    section {
        &.sec-history{
            .cover-history{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 55%;
                margin-bottom: 20px;
            }
        }
    }
}