// -----------------------------------------------------------------------------
// This file contains all history styles.
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1 - Configuration and helpers
@import '../abstracts/index';

// 2 - Base stuff
@import '../base/index';

.home-dasibana {
    background-color: $main-bg;
    .banner-dasibana{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 85px) !important;
        .logo-banner{
            img{
                width: 100%;
                margin: auto;
                display: block;
                padding: 20px 100px;
            }
        }

        .dasibana-icon-name{
            display: grid;
            align-items: center;
            height: calc(100vh - 85px);
            h1{
                text-transform: uppercase;
                padding: 20px;
                color: $yellow-dasibana;
                text-align: center;
                font-size: 50px;
                width: 320px;
            }
        }
    }

    .produk-unggulan{
        padding: 0 15%;
    }
}
