// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

// Fontawesome

@font-face {
    font-family: pattaya_reg;
    src: url('../../be/fonts/pattaya/Pattaya-Regular.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: asap_reg;
    src: url('../../be/fonts/asap/Asap-Regular.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: asap_med;
    src: url('../../be/fonts/asap/Asap-Medium.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: asap_bold;
    src: url('../../be/fonts/asap/Asap-Bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: FontAwesome;
    src: url('../../../../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.eot');
    src: url('../../../../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff') format('woff'),
         url('../../../../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf') format('truetype'),
         url('../../../../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: themify;
    src: url('../../../dist/be/fonts/themify/themify.eot');
    src: url('../../../dist/be/fonts/themify/themify.svg') format('svg'),
         url('../../../dist/be/fonts/themify/themify.ttf') format('truetype'),
         url('../../../dist/be/fonts/themify/themify.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
