// -----------------------------------------------------------------------------
// This file contains all forms style.
// -----------------------------------------------------------------------------

.form-vegan{
    .list-input-sdd{
        display: grid;
        align-items: flex-start;
        grid-template-columns: minmax(1px, auto) minmax(1px, 70px);
        grid-gap: 20px;
        .cts-btn{
            display: grid;
            align-items: center;
            grid-template-columns: minmax(1px, 25px) minmax(1px, 25px);
            grid-gap: 20px;
            @include respond-max(sm-tablet){
                margin-top: -30px;
            }
        }
        @include respond-max(sm-tablet){
            grid-template-columns: minmax(1px, auto);
        }
    }
    .checkbox{
        &.checkbox-success{
            input{
                &[type="checkbox"]{
                    + label{
                        min-height: 20px;
                        line-height: 1.42857143;
                        &::before, &::after{
                            border-radius: 3px;
                        }
                    }
                    &:checked{
                        + label{
                            &::before{
                                background-color: $green-vegan;
                                border-color: $green-vegan;
                            }
                        }
                    }
                }
            }
        }
    }
    .form-group{
        .float-inpt-fld{
            .floatfield ,
            .floating-select{
                background-color: transparent !important;
            }
        
            .floatfield{
                &:active, &:focus{
                    border: .5px solid $grey !important;
                }
                @include on-event{
                    border: .5px solid $grey !important;
                }
            }
        
            .field-icon {
                bottom: 24px;
            }
        
            label {
                color: $white !important;
                background: $green-vegan;
        
                &.flt-label-select{
                    background: $green-vegan;
                }
            }
        
            input{
                height: auto;
                border-color: #000000;
            }
        }
        label{
            font-size: 16px;
            line-height: 2;
            text-transform: capitalize;
        }

        .input-group {
            &.--readonly{
                background-color: #eee;
            }
            &.--grp-datcpck{
                width: 100%;
                border-radius: 5px !important;
                border: 1px solid rgba(0, 0, 0, 0.2);
                transition: all .3s ease-in-out;
                @include on-event{
                    border-color: $black;
                }
                input, .input-group-addon{
                    border: none;
                }
                .input-group-addon{
                    background-color: transparent;

                    .clndar-icn{
                        background-image: url('../../../dist/fe/icons/calendar.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        padding-top: 100%;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
            .input-group-addon{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .input-group-pln{
            display: inline-flex;
            width: 100%;
            border-radius: 5px !important;
            border: 1px solid rgba(0, 0, 0, 0.2);
            transition: all .3s ease-in-out;
            @include on-event{
                border-color: $black;
                .fld-inpt {
                    &:first-child{
                        border-color: $black;
                    }
                }      
            }

            .fld-inpt {
                background-color: $white;
                &:first-child{
                    border-right: 1px solid rgba(0, 0, 0, 0.2);
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            .txt-input-gr{
                width: 100%;

                input{
                    border-radius: 0;
                    margin-bottom: 0;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                }
            }
            .select-input-gr{
                width: auto;
                select{
                    border-radius: 0;
                    margin-bottom: 0;
                    border: none;
                    background-color: transparent;
                    padding: 10px;
                    padding-right: 30px;
                }
            }
        }

        .tags-default{
            .bootstrap-tagsinput{
                padding: 15px 20px !important;
                border-radius: 5px !important;
                transition: all .3s ease-in-out;
                @include on-event{
                    border-color: $black !important;
                }
                input{
                    border: none;
                    border-radius: 0;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                span{
                    &.tag{
                        line-height: 2;
                    }
                }
            }
        }

        .radio-list{
            label{
                padding: 0;
                .radio{
                    padding-left: 10px;
                    label{
                        margin: 0 10px;
                        padding-left: 10px;
                    }

                    .pills-lbl{
                        div{
                            background-color: red;
                            color: $white;
                            padding: 2.5px 15px;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
    input, select, .select2-container, .select2-multiplect[multiple="multiple"]{
        height: 43px;
    }
    textarea{
        height: auto;
        white-space: break-spaces !important;
    }
    .select-custom-pln{
        select[multiple="multiple"]{
            height: 100%;
        }
    }
    .dropify-wrapper{
        input{
            height: 100% !important;
        }
    }
    input, select, textarea, .select2-container{
        box-shadow: none;
        padding: 10px 15px;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 15px !important;

        &::placeholder{
            color: rgba(0, 0, 0, 0.4);
        }
        @include on-event{
            border: 1px solid $black !important;
        }
        &:focus{
            outline: unset !important;
            box-shadow: unset !important;
        }
    }
    .select2-container{
        .select2-choice{
            .select2-arrow{
                top: 0px;
                b{
                    background: unset;
                    &::after{
                        font-family: FontAwesome;
                        content: '\f0d7';
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
        
        &.select2-dropdown-open{
            .select2-choice{
                .select2-arrow{
                    b{
                        &::after{
                            content: '\f0d8';
                        }
                    }
                }
            }
        }
    }
    .select2-container-multi{
        margin-bottom: 0;
        border: unset;
        .select2-choices{
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px !important;
            padding: 5px 10px !important;
        }
    }
    .multple-selects2{
        .select2-container--default {
            height: auto !important;
        }
    }
    .select2-container--default {
        width: 100% !important;
        .select2-selection--single, .select2-selection--multiple{
            border: unset !important;
        }
        .select2-selection--multiple{
            margin-top: -10px;
            margin-left: -5px;
        }
        .select2-selection__arrow{
            top: 5px !important;
            right: 5px !important;
        }
        .select2-selection__rendered{
            line-height: 22px !important;
        }
        .select2-search--inline {
            .select2-search__field{
                border:  unset !important;
            }
        }
    }
    .select-custom-pln{
        position: relative;

        &.single-slct{
            &::after{
                font-family: FontAwesome;
                content: '\f0d7';
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 15px;
                color: rgba(0, 0, 0, 0.8);
                pointer-events: none;
                z-index: 2;
            }
            select{
                appearance: none;
                padding-right: 35px;
    
                option{
                    &:disabled{
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
    
                &::-ms-expand{
                    display: none;
                }
            }
        }
        select{
            cursor: pointer;
        }
    }
    input{
        &[type="radio"]{
            + label{
                padding: 0;
                &::before, &::after{
                    margin-top: 3px;
                }
                &::before{
                    border-color: $dark;
                }
            }

            &:checked{
                + label{
                    &::before{
                        border-color: $dark;
                    }
                    &::after{
                        background-color: $dark;
                    }
                }
            }
        }
        &.input-days{
            min-width: 50px;
            width: auto;
            padding: 10px;
            text-align: center;
            color: $black;
        }
    }
    .touchspin-input{
        .bootstrap-touchspin{
            .input-group-btn{
                .btn-tchspn{
                    padding: 9px 15px;
                    box-shadow: none;
                    background-color: $white;
                    font-size: 18px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    transition: all .3s ease-in-out;
                    font-family: "georgia_bopoppins_medld", sans-serif !important;

                    @include on-event{
                        background-color: $primary-light;
                    }

                    &.tch-max{
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-left: none;
                    }

                    &.tch-min{
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border-right: none;
                    }
                }
            }
        }
    }
    .custom-file{
        input{
            &.input-ghost{
                padding: 0;
                margin-bottom: 0;
                border: unset;
            }
            &.form-control{
                color: $green-vegan !important;
            }
        }
    }
    .input-group{
        margin-bottom: 10px;
        input{
            @include on-event{
                border-right-color: transparent;
            }
        }
        .input-group-btn{
            button{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin: 0;
                height: 43px;
            }
        }
    }
    .dropify-field{
        margin-top: 20px;
        .dropify-wrapper{
            border-style: dashed;
            height: 300px;
            .dropify-clear{
                border-radius: 50%;
                padding: 3px 8px;
                background-color: $white;
                i{
                    color: $dark-gry
                }
            }
            .dropify-preview{
                .dropify-infos{
                    background-color: rgba(0, 0, 0, 0.6);
                    border-radius: 5px;
                }
            }
        }
    }
    .radio-crte{
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-gap: 20px;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        @include respond-max(lg-tablet) {
            grid-template-columns: minmax(1px, auto);
        }
        .list-radio-crte{
            position: relative;
            input{
                &[type="radio"]{
                    &:checked,
                    &:not(:checked){
                        position: absolute;
                        left: 0;
                        z-index: -1;
                        + label {
                            width: 100%;
                            position: relative;
                            padding: 70px 30px;
                            cursor: pointer;
                            line-height: 20px;
                            display: inline-block;
                            color: $black;
                            transition: all .5s ease-in-out;
                            background: $white;
                            transition: all .3s ease-in-out;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            @include respond-max(lg-mobile) {
                                padding: 30px 20px;
                            }

                            &::before{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 0;
                                height: 0;
                                border: none;
                                border-radius: 0;
                                background: #fff;
                            }

                            &::after{
                                content: '';
                                width: 0;
                                height: 0;
                                background: transparent;
                                position: absolute;
                                top: 1px;
                                border: none;
                                left: 1px;
                                transition: all .5s ease-in-out;
                            }
                            
                            .img-cvr{
                                img{
                                    width: 100px;
                                    height: 100px;
                                    margin-bottom: 20px;
                                    @include respond-max(lg-mobile) {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                            }
                            
                            .desc-rd{
                                width: 350px;
                                margin: auto;
                                text-align: center;
                                @include respond-max(lg-dekstop) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &:checked{
                        + label{
                            opacity: 1;
                            &::after{
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                    }
                    &:not(:checked) {
                        + label {
                            opacity: .5;
                            &::after{
                                opacity: 0;
                                transform: scale(0);
                            }
                        }
                    }
                }
            }
        }
    }
}