// -----------------------------------------------------------------------------
// This file contains all typography style.
// -----------------------------------------------------------------------------

.f-pattaya_reg {
    font-family: "pattaya_reg", sans-serif !important;
}

.f-asap_reg {
    font-family: "asap_reg", sans-serif !important;
}

.f-asap_med {
    font-family: "asap_med", sans-serif !important;
}

.f-asap_bold {
    font-family: "asap_bold", sans-serif !important;
}

.clr-white{
    color: $white !important;
}

.page-title{
    color: $black;
    font-size: 15px !important;
    font-family: "asap_med", sans-serif !important;
    text-transform: uppercase;
    a{
        color: $black;
        font-size: 15px !important;
        font-family: "asap_med", sans-serif !important;
        text-transform: uppercase;
    }
}

.text-capitalize{
    text-transform: capitalize;
}

.med-small-fnt {
    font-size: 15px !important;
}