// -----------------------------------------------------------------------------
// This file contains all productFav styles.
// -----------------------------------------------------------------------------

@import '../../public';

.akun-productFav{
    section{
        &.akun-productFav-sec{
            .productFav-content{
                .head-card{
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-bottom: 10px;
                    padding: 10px 20px;
                    background-color: $white;
                    .title-head-card{
                        color: $green-vegan;
                    }
                }
                .content-card{
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    padding: 30px 20px;
                    background-color: $white;
                    @include respond-max(lg-mobile) {
                        padding: 20px 10px;
                    }
                }
            }
        }
    }
}