// -----------------------------------------------------------------------------
// This file contains all akun-detail-pesanan styles.
// -----------------------------------------------------------------------------

@import '../../../public';

.akun-add-review {
    section {
        &.sec-akun-add-review {
            .head-ct-akun{
                border: 1px solid $light-grey-bg;
                border-bottom: none;
                padding: 15px 30px;
                @include respond-max(md-dekstop) {
                    padding: 15px 20px;
                }
            }
            .mn-rvw{
                .ls-mn-rv{
                    border: 1px solid $light-grey-bg;
                    border-bottom: unset;
                    &:last-child{
                        border-bottom: 1px solid $light-grey-bg;
                    }
                    .gr-mn-dv{
                        grid-template-columns: repeat(2, minmax(1px, 1fr));
                        grid-gap: 0;
                        @include respond-max(lg-tablet) {
                            grid-template-columns: minmax(1px, auto);
                        }
                        .gr-ls-mn-rv{
                            grid-template-columns: minmax(1px, 130px) minmax(1px, auto);
                            grid-gap: 15px;
                            align-items: flex-start;
                            @include respond-max(lg-mobile) {
                                grid-template-columns: minmax(1px, auto);
                            }

                            .img-lazy{
                                img{
                                    width: 130px;
                                    height: 130px;
                                    margin: auto;
                                    display: block;
                                }
                            }
                        }
                        .snjdh-asa{
                            padding: 15px 20px;

                            &:first-child{
                                border-right: 1px solid $light-grey-bg;
                                @include respond-max(lg-tablet) {
                                    border-right: unset;
                                    border-bottom: 1px solid $light-grey-bg;
                                }
                            }
                        }
                    }
                    .--no-gr{
                        border-top: 1px solid $light-grey-bg;
                        padding: 15px 20px;
                    }
                    .--snd{
                        padding: 10px 20px;
                        width: 200px;
                        margin-left: auto;
                        display: block;
                        @include respond-max(sm-tablet) {
                            margin: auto;
                        }
                    }
                }
            }
            .mdl-rvw{
                padding: 20px;
                .bg-no-carts{
                    background-image: url("../../../assets/icons/no-cart.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 200px;
                    width: 200px;
                    margin: 20px auto 30px;
                }
            }
        }
    }
}
