// -----------------------------------------------------------------------------
// This file contains all akun-detail-pesanan styles.
// -----------------------------------------------------------------------------

@import '../../../public';

.akun-review {
    section {
        &.sec-akun-review {
            .head-ct-akun{
                border: 1px solid $light-grey-bg;
                padding: 15px 30px;
                @include respond-max(md-dekstop) {
                    padding: 15px 20px;
                }
            }
            .mn-rvw{
                .ls-mn-rv{
                    grid-template-columns: repeat(2, minmax(1px, 1fr));
                    grid-gap: 0;
                    @include respond-max(lg-tablet) {
                        grid-template-columns: minmax(1px, auto);
                    }
                    .gr-mn-dv{
                        padding: 15px 20px;
                        border: 1px solid $light-grey-bg;
                        border-top: unset;
                        &:nth-child(even){
                            border-left: unset;
                            
                            @include respond-max(lg-tablet) {
                                border-left: 1px solid $light-grey-bg;
                            }
                        }
                        .gr-ls-mn-rv{
                            grid-template-columns: minmax(1px, 130px) minmax(1px, auto);
                            grid-gap: 15px;
                            align-items: flex-start;
                            @include respond-max(lg-mobile) {
                                grid-template-columns: minmax(1px, auto);
                            }

                            .img-lazy{
                                img{
                                    width: 130px;
                                    height: 130px;
                                    margin: auto;
                                    display: block;
                                }
                            }
                        }
                    }
                    .--snd{
                        padding: 10px 20px;
                        width: 200px;
                        margin-left: auto;
                        display: block;
                        @include respond-max(sm-tablet) {
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}
