// -----------------------------------------------------------------------------
// This file contains all blog styles.
// -----------------------------------------------------------------------------

@import '../../public';

.blog-section {
    section {
        .gr-blog-detail{
            grid-template-columns: minmax(1px, auto) minmax(1px, 324px);
            grid-gap: 50px;
            @include respond-max(lg-dekstop) {
                grid-template-columns: minmax(1px, auto) minmax(1px, 230px);
                grid-gap: 30px;
            }
            @include respond-max(lg-tablet) {
                grid-template-columns: minmax(1px, auto);
                grid-gap: 15px;
            }
        }

        &.ct-blog-header{
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .ls-menucategory{
                ul{
                    display: block;
                    padding-inline-start: 0;
                    margin-bottom: -10px;
                    li{
                        display: inline-block;
                        margin: 0 10px 10px 0;
                        @include respond-max(lg-tablet) {
                            margin: 0 5px 5px 0;
                        }
                        a{
                            color: $lght-gsh !important;
                            text-transform: capitalize;

                            @include on-event{
                                color: $lght-gsh !important;
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }

        &.all-blog{
            .gr-all-blg{
                grid-template-columns: .5fr .25fr .25fr;
                grid-template-rows: auto;
                grid-template-areas: 
                    "blog1 blog2 blog3"
                    "blog1 blog4 blog4";
                grid-gap: 4px 8px;

                @include respond-max(lg-tablet) {
                    grid-template-columns: 1fr;
                    grid-template-areas: 
                        "blog1"
                        "blog2"
                        "blog3"
                        "blog4";
                    grid-gap: 15px;
                }

                .item-blog{
                    &:nth-child(1){
                        grid-area: blog1;

                        &.card-artikel {
                            .cover-sldr{
                                height: 524px;
                                @include respond-max(lg-tablet) {
                                    height: 0;
                                    padding-top: 45%;
                                }
                                @include respond-max(lg-mobile) {
                                    padding-top: 50%;
                                }
                                @media screen and (max-width: 400px) {
                                    padding-top: 70%;
                                }
                            }
                        }
                    }
                    &:nth-child(2), &:nth-child(3){
                        &.card-artikel {
                            .cover-sldr{
                                height: 224px;
                                @include respond-max(lg-tablet) {
                                    height: 0;
                                    padding-top: 45%;
                                }
                                @include respond-max(lg-mobile) {
                                    padding-top: 50%;
                                }
                                @media screen and (max-width: 400px) {
                                    padding-top: 70%;
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        grid-area: blog2;
                    }
                    &:nth-child(3){
                        grid-area: blog3;
                    }
                    &:nth-child(4){
                        grid-area: blog4;
                        &.card-artikel {
                            .cover-sldr{
                                height: 292px;
                                @include respond-max(lg-tablet) {
                                    height: 0;
                                    padding-top: 45%;
                                }
                                @include respond-max(lg-mobile) {
                                    padding-top: 50%;
                                }
                                @media screen and (max-width: 400px) {
                                    padding-top: 70%;
                                }
                            }
                        }
                    }
                }

                .card-artikel {
                    .cover-sldr{
                        position: relative;
                        background-position: top;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 8px;
                        .bg-overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            border-radius: 8px;
                            z-index: 0;
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #282828 140%);
                        }
                        .kategories{
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            z-index: 1;
                            .catg-ttl{
                                color: $white;
                                background: rgba(0, 0, 0, 0.5);;
                                border-radius: 50px;
                                backdrop-filter: blur(4px);
                                padding: 5px 15px;
                                 
                                @include on-event{
                                    color: $white !important;
                                    opacity: .8;
                                }
                            }
                        }
                        .contents{
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            width: calc(100% - 40px);
                            z-index: 1;
                            .ttle-blg {
                                color: $white;
                                cursor: pointer;
                                font-weight: 20px;
                                text-transform: capitalize;

                                @include on-event{
                                    color: $white !important;
                                    opacity: .8;
                                }
                            }
                            .small-txt{
                                .sml-tct{
                                    font-size: 12px;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.popular-blog {
            .slider-artikel {
                .gr-artkles{
                    &.frst-sldr-nws{
                        @include respond-max(lg-mobile) {
                            display: none;
                        }
                    }
                    .gr-artkl{
                        .card-artikel {
                            display: grid;
                            grid-template-columns: repeat(2, minmax(1px, 1fr));
                            grid-gap: 25px;
                            @include respond-max(lg-tablet) {
                                grid-template-columns: minmax(1px, 1fr);
                            }
                            .imgs-artikel {
                                .image-cvr {
                                    width: 100%;
                                    border-radius: 10px;
                                    padding-top: 53.25%;
                                    background-position: top;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
    
                            .desc-artikel {
                                .frs-desc{
                                    display: block;
                                    margin-top: 12px;
                                }
                                .title-hm-nws{
                                    -webkit-line-clamp: 3;
                                }
                                .ctg-sec{
                                    padding-bottom: 8px !important;
                                }
                                .--date {
                                    position: unset;
                                }
                            }
                        }
                    }
                }
                .sldr-gr-artkles{
                    .main-new-sldr-populer{
                        .new-sldr-populer{
                            margin-top: 30px;
                            @include respond-max(lg-mobile){
                                margin-top: 0;
                            }
                            .slick-list {
                                padding-right: 25%;
                                @include respond-max(lg-dekstop){
                                    padding-right: 40%;
                                }
                                @include respond-max(md-dekstop){
                                    padding-right: 0;
                                }
                                .slick-track {
                                    .slick-slide {
                                        .gr-artkl{
                                            padding-right: 20px;
                                            .card-artikel {
                                                display: grid;
                                                grid-template-columns: minmax(1px, 150px) minmax(1px, auto);
                                                grid-gap: 20px;
                                                @include respond-max(sm-tablet) {
                                                    grid-template-columns: minmax(1px, 230px) minmax(1px, auto);
                                                }
                                                @include respond-max(lg-mobile) {
                                                    grid-gap: 10px;
                                                    grid-template-columns: minmax(1px, auto);
                                                    margin-bottom: 20px;
                                                    &:last-child{
                                                        margin-bottom: 0;
                                                    }
                                                }
                        
                                                .ctg-sec{
                                                    padding-bottom: 10px;
                                                }
                        
                                                .imgs-artikel {
                                                    .image-cvr {
                                                        width: 150px;
                                                        height: 105px;
                                                        border-radius: 10px;
                                                        background-position: top;
                                                        background-size: cover;
                                                        background-repeat: no-repeat;
                                                        @include respond-max(sm-tablet) {
                                                            width: 230px;
                                                            height: 125px;
                                                        }
                                                        @include respond-max(lg-mobile) {
                                                            width: 100%;
                                                            height: 100%;
                                                            padding-top: 50%;
                                                        }
                                                    }
                                                }
                        
                                                .desc-artikel {
                                                    position: relative;
                        
                                                    .frs-desc{
                                                        display: none;
                                                    }
                        
                                                    .title-hm-nws{
                                                        -webkit-line-clamp: 2;
                                                    }
                        
                                                    .--date {
                                                        position: absolute;
                                                        bottom: 0;
                                                        width: 100%;
                        
                                                        @media screen and (max-width: 480px) {
                                                            position: unset;
                                                            margin-top: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .slick-arrow{
                                transform: translateX(-50%);
                                top: 40%;

                                &.slick-prev{
                                    left: -15px;
                                }

                                &.slick-next{
                                    right: -45px;
                                }

                                @include respond-max(sm-tablet) {
                                    &.slick-prev{
                                        left: 0;
                                    }
    
                                    &.slick-next{
                                        right: 0;
                                    }
                                }

                                @media screen and (max-width: 399px) {
                                    top: 27%;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.recommendation-blog{
            .sldr-gr-artkles{
                .main-recommendation-slider{
                    .recommendation-slider{
                        .slick-list {
                            padding-right: 10%;
                            @include respond-max(lg-dekstop){
                                padding-right: 5%;
                            }
                            @include respond-max(md-dekstop){
                                padding-right: 0;
                            }
                            .slick-track {
                                .slick-slide {
                                    .gr-artkl{
                                        margin-bottom: 15px;
                                        padding-right: 20px;
                                        .card-artikel {
                                            display: grid;
                                            grid-template-columns: minmax(1px, 230px) minmax(1px, 1fr);
                                            grid-gap: 16px;
                    
                                            @include respond-max(lg-mobile) {
                                                grid-template-columns: minmax(1px, auto);
                                                margin-bottom: 20px;
                                                grid-gap: 10px;
                                                &:last-child{
                                                    margin-bottom: 0;
                                                }
                                            }
                    
                                            .ctg-sec{
                                                padding-bottom: 10px;
                                            }
                    
                                            .imgs-artikel {
                                                .image-cvr {
                                                    width: 230px;
                                                    height: 125px;
                                                    border-radius: 8px;
                                                    background-position: top;
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    @include respond-max(lg-mobile) {
                                                        width: 100%;
                                                        height: 100%;
                                                        padding-top: 50%;
                                                    }
                                                }
                                            }
                    
                                            .desc-artikel {
                                                position: relative;
                    
                                                .sml-tct{
                                                    @include on-event{
                                                        color: $light-grey !important;
                                                        opacity: .8;
                                                    }
                                                }
                    
                                                .--date {
                                                    position: absolute;
                                                    bottom: 0;
                                                    width: 100%;
                    
                                                    @media screen and (max-width: 480px) {
                                                        position: unset;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .slick-arrow{
                            transform: translateX(-50%);
                            top: 41.5%;

                            &.slick-prev{
                                left: -15px;
                            }

                            &.slick-next{
                                right: -45px;
                            }

                            @include respond-max(sm-tablet) {
                                &.slick-prev{
                                    left: 0;
                                }

                                &.slick-next{
                                    right: 0;
                                }
                            }

                            @media screen and (max-width: 399px) {
                                top: 27%;
                            }
                        }
                    }
                }
            }
        }
    }
}