// -----------------------------------------------------------------------------
// This file contains all blog category styles.
// -----------------------------------------------------------------------------

@import '../../public';

.blogcategory-section {
    section {
        .gr-blog-detail{
            grid-template-columns: minmax(1px, auto) minmax(1px, 324px);
            grid-gap: 50px;
            @include respond-max(lg-dekstop) {
                grid-template-columns: minmax(1px, auto) minmax(1px, 230px);
                grid-gap: 30px;
            }
            @include respond-max(lg-tablet) {
                grid-template-columns: minmax(1px, auto);
                grid-gap: 15px;
            }
        }

        &.ct-blog-header{
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .ls-menucategory{
                ul{
                    display: block;
                    padding-inline-start: 0;
                    margin-bottom: -10px;
                    li{
                        display: inline-block;
                        margin: 0 10px 10px 0;
                        @include respond-max(lg-tablet) {
                            margin: 0 5px 5px 0;
                        }
                        a{
                            color: $lght-gsh !important;
                            text-transform: capitalize;

                            @include on-event{
                                color: $lght-gsh !important;
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }

        &.ct-blog-category{
            .card-artikel {
                display: grid;
                grid-template-columns: repeat(2, minmax(1px, 1fr));
                grid-gap: 30px;
                @include respond-max(md-dekstop) {
                    grid-template-columns: minmax(1px, 1fr);
                    grid-gap: 16px;
                }
                .imgs-artikel {
                    .image-cvr {
                        width: 100%;
                        border-radius: 10px;
                        padding-top: 53.25%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .desc-artikel {
                    .frs-desc{
                        display: block;
                        margin-top: 12px;
                    }
                    .title-hm-nws{
                        -webkit-line-clamp: 3;
                    }

                    .ctg-sec{
                        display: flex;
                        margin-bottom: 5px;
                        margin-top: 10px;
                        a{
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            border-radius: 50px;
                            padding: 5px 15px;
                            color: $black !important;
                            @include on-event{
                                opacity: .8;
                            }
                        }
                    }

                    .gr-middle-blg{
                        grid-template-columns: minmax(1px, auto) minmax(1px, 1fr);
                        grid-gap: 20px;
                        .date-blg{
                            small{
                                color: rgba(0, 0, 0, 0.4);
                                font-size: 13px;
                            }
                        }
                    }

                    .shares-smd{
                        margin-left: auto;
                        display: inline-flex;
                        gap: 10px;
                        @include respond-max(sm-tablet) {
                            gap: 5px;
                        }
                    }

                    .--date {
                        position: unset;
                    }
                }
            }
        }

        &.bottom-blog-category{
            .gr-blog-detail{
                align-items: flex-start;
            }
            .ct-blog-sc{
                .gr-artkles{
                    grid-template-columns: repeat(3, minmax(1px, 1fr));
                    grid-gap: 20px;
                    align-items: flex-start;
                    @include respond-max(lg-tablet) {
                        grid-template-columns: repeat(2, minmax(1px, 1fr));
                        grid-gap: 16px;
                    }
                    @include respond-max(lg-mobile) {
                        grid-template-columns: minmax(1px, 1fr);
                    }
                    .card-artikel {
                        .ctg-sec{
                            padding-bottom: 10px;
                        }
                        
                        .imgs-artikel {
                            .image-cvr {
                                width: 230px;
                                height: 125px;
                                border-radius: 8px;
                                background-position: top;
                                background-size: cover;
                                background-repeat: no-repeat;
                                margin-bottom: 10px;
                                @include respond-max(lg-mobile) {
                                    width: 100%;
                                    height: 100%;
                                    padding-top: 50%;
                                }
                                &.no-gr-img{
                                    width: 100%;
                                    height: auto;
                                    padding-top: 55%;
                                }
                            }
                        }
    
                        .desc-artikel {
                            .sml-tct{
                                @include on-event{
                                    color: $light-grey !important;
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
                .no-grids{
                    width: 698px;
                    margin: auto;
                    @include respond-max(lg-dekstop) {
                        width: 100%;
                    }
                }
                .btn-view-sec{
                    display: block;
                    width: auto;
                    margin: 50px auto 20px;
                    text-align: center;
                }
            }
        }
    }
}