// -----------------------------------------------------------------------------
// This file contains main template styles.
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// 1 - Configuration and helpers
@import 'abstracts/index';

// 2 - Base stuff
@import 'base/index';

.header-vegan{
    background: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    .sec-header{
        padding: 20px 0;
        @include respond-max(sm-tablet) {
            padding: 15px 20px;
        }
        .veganesia-logo-header{
            width: 170px;
            display: block;
            @include respond-max(sm-tablet) {
                width: 150px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.body-content-vegan{
    width: 696px;
    margin: auto;
    display: block;
    @include respond-max(lg-tablet) {
        width: 100%;
    }
}

.footer-vg{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    .footer-sec{
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-gap: 0;
        align-items: center;

        div{
            line-height: 15px;
            &:first-child{
                border-right: 1.5px solid rgba(0, 0, 0, 0.4);
                text-align: right;
                padding-right: 20px;
            }
            &:last-child{
                text-align: left;
                padding-left: 20px;
            }
        }
    }
}