// -----------------------------------------------------------------------------
// This file contains all card styles.
// -----------------------------------------------------------------------------

@import '../public';

.ct-card-prdct{
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    height: 100%;

    &.st-prct{
        position: relative;
        padding-bottom: 35px;
    }

    .img-prod {
        position: relative;
        .card-slider {
            display: block;
            .img-slider {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding-top: 100%;
                position: relative;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
        
                .ribbon{
                    position: absolute;
                    left: -10px;
                    top: -5px;
                    width: auto;
                    height: auto;
                    padding: 8px 16px;
                    background: $gold;
                    color: $white;
                    line-height: 14px;
                    font-family: "Asap_bold", sans-serif !important;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 10px;
                        border: 10px solid #AA6906;
                        top: 30px;
                        left: 0;
                        z-index: -1;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                    @include respond-max(lg-mobile) {
                        font-size: 10px;
                        padding: 5px 8px;
                        &::after{
                            top: 24px;
                        }
                    }
                }
            }
        }
        
        .fav-prod{
            position: absolute;
            bottom: 5px;
            right: 0;
            z-index: 1;
            .love-icn{
                appearance: none;
                color: rgba(0, 0, 0, 0);
            }
            input{
                &[type=checkbox] {
                    display: none;
                }
                &[type=checkbox]{
                    +.love-icn {
                        cursor: pointer;
                        position: relative;
                        &::before{
                            position: absolute;
                            bottom: 5px;
                            right: 10px;
                            content: '\f004';
                            font-family: "Font Awesome 5 Free";
                            font-size: 14px;
                            background: #F7F7F7;
                            color: #BDBDBD;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 2.25;
                            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
                            @include respond-max(sm-tablet) {
                                width: 25px;
                                height: 25px;
                                font-size: 12px;
                            }
                        }
                    }
                    &:checked{
                        +.love-icn {
                            &::before{
                                color: $green-vegan;
                            }
                        }
                    }
                }
            }
        }
    }

    .desc-prdct {
        .lnk-crd-prdct{
            padding: 10px;
            .tp-desc-prd{
                height: 50px;
            }
    
            .prc_shaj{
                height: 60px;
            }
    
            .ttl-prd{
                color: $black;
                line-height: 22px;
                font-size: 17px;
                margin-bottom: 2px;
                @include on-event {
                    opacity: .7;
                }
                @include respond-max(sm-tablet) {
                    font-size: 16px;
                }
            }
    
            .price-prd{
                color: $text-orange;
                font-size: 16px;
                @include on-event {
                    opacity: .8;
                }
                @include respond-max(lg-tablet) {
                    font-size: 15px;
                }
                @include respond-max(lg-mobile) {
                    font-size: 14px;
                }
            }
    
            .total_sold{
                margin-top: 10px;
            }
        }
        .btn-buy{
            background-color: $text-orange;
            color: $white;
            text-transform: capitalize;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            font-family: "Asap_medium", sans-serif !important;
            @media screen and (max-width: 440px) {
                margin-top: 15px;
            }
        }
    }
}

.ct-produk-section{
    border-bottom: 1px solid #E7E7E7;;
}

.variant_size_chart{
    position: relative !important;
    margin-bottom: 20px;
    input {
        &[type="radio"]{
            &:checked, &:not(:checked){
                position: absolute !important;
                transform: translate(-50%, -50%) !important;
                left: 50% !important;
                top: 50% !important;
                z-index: -1;
                + label {
                    position: relative !important;
                    cursor: pointer !important;
                    height: 48px;
                    width: 48px;
                    border: 2px solid rgba(0, 0, 0, 0.2) !important;
                    background: #fafafa !important;
                    border-radius: 100%;
                    z-index: 1;
                    @include respond-max(sm-tablet) {
                        height: 40px;
                        width: 40px;
                    }

                    &.small-label-variant{
                        height: 40px;
                        width: 40px;
                        @include respond-max(sm-tablet) {
                            height: 35px;
                            width: 35px;
                        }
                    }

                    span{
                        position: absolute;
                        transform: translate(-50%, -50%) !important;
                        left: 50% !important;
                        top: 50% !important;
                        color: rgba(0, 0, 0, 0.2) !important;
                    }
                }
            }
            
            &:checked{
                + label{
                    border-color: #1FBC9D !important;
                    background: rgb(209, 242, 236) !important;
                    span{
                        color: #1FBC9D !important;
                    }
                }
            }
        }
    }
}

.mdl-addtocart-variant{
    .addtocart_forvariant{
        .ls-modal-varint-adtc{
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
            padding: 20px 0;
            &:last-child{
                border-bottom: unset;
                padding-bottom: 0;
            }
        }
        .gr_cover_variant_pt{
            grid-template-columns: minmax(1px, 100px) minmax(1px, auto);
            grid-gap: 16px;
            align-items: flex-start;
            .cover-variant{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100px;
                width: 100px;
            }
        }
        .size_variant_pt{

        }
        .gr_qty_variant_pt{
            grid-template-columns: minmax(1px, 1fr) minmax(1px, auto);
            grid-gap: 16px;
            align-items: flex-start;
        }
        .btn_variant_pt{

        }
    }
}