// -----------------------------------------------------------------------------
// This file contains all floating input styles.
// -----------------------------------------------------------------------------

@import '../public';

.float-inpt-fld{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 25px !important;
    position: relative;
    @include respond-max(sm-tablet) {
        margin-bottom: 15px !important;
    }

    .floatfield, .lbl-float-inpt, .lbl-float-inpt-textarea{
        transition: all 0.2s;
        touch-action: manipulation;
    }

    .floatfield ,
    .floating-select{
        font-family: inherit;
        appearance: none;
        cursor: text;
        font-size: 14px !important;
        padding-left: 20px !important;
        padding-right: 40px !important;
        display: block;
        background-color: transparent !important;
        z-index: 0;
    }

    .floatfield{
        &:placeholder-shown{
            z-index: 1;
            + .lbl-float-inpt {
                top: 12px;
            }
            + .lbl-float-inpt-textarea {
                top: -12px !important;
            }
        }
        &.floating-custom {
            padding-right: 20px !important;
        }
        &:active, &:focus{
            z-index: 0;
            box-shadow: unset !important;
            border: .5px solid $green-vegan !important;
            outline: none !important;
            + .lbl-float-inpt {
                top: -12px;
            }
            + .lbl-float-inpt-textarea {
                top: -12px !important;
            }
        }
        @include on-event{
            box-shadow: unset !important;
            border: .5px solid $green-vegan !important;
            outline: none !important;
        }

        &[required]{
            box-shadow: unset !important;
            outline: none !important;
        }
    }

    .lbl-float-inpt{
        position: absolute;
        font-size: 14px;
        top: -12px;
    }

    .floating-select {
        z-index: 1;
        &:focus{
            z-index: 0;
            ~ label {
                top: -10px;
            }
        }

        &:valid{
            z-index: 0;
            ~ label {
                top: -10px;
            }
        }
    }

    .field-icon {
        z-index: 1;
        position: absolute;
        right: 15px;
        bottom: 15px;
        color: $grey;
    }

    label {
        margin: 0 10px;
        padding: 0 10px !important;
        text-transform: capitalize;
        letter-spacing: 0.05em;
        color: $txt-grey !important;
        background: white;

        &.flt-label-select{
            position: absolute;
            top: 10px;
            font-size: 14px;
            transition: all 0.2s;
            touch-action: manipulation;
            background: white;
        }
    }

    input{
        height: 42px;
    }

    textarea{
        height: 150px;
        padding: 20px;
    }

    .lbl-float-inpt-textarea{
        position: absolute;
        font-size: 14px;
        top: 15px !important;
    }
}
