// -----------------------------------------------------------------------------
// This file contains all number input style.
// -----------------------------------------------------------------------------

@import '../public';

.number-style {
    .input-number{
        display: inline-block !important;
        vertical-align: middle !important;
        text-align: center !important;
        color: #000000 !important;
        border-radius: 0 !important;
        width: 70px !important;
        height: 35px !important;
        font-size: 14px !important;
        
        &[type='number'] {
            appearance: textfield;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
        }

        &:focus{
            box-shadow: unset !important;
            outline: unset !important;
        }
    }
    span{
        background-color: $white !important;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: .5px solid #C4C4C4;

        &::after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -1px 0 0 -5px;
            width: 10px;
            height: 2px;
            background-color: $black;
        }

        &.number-minus{
            border-right: none;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            background-color: #E6E6E6 !important;
        }

        &.number-plus{
            border-left: none;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            background-color: #E6E6E6 !important;

            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -5px 0 0 -1px;
                width: 2px;
                height: 10px;
                background-color: $black;
            }
        }

        &.disabled{
            &::after, &::before{
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.input-number-cart-vegan{
    span{
        &.number-plus-cart, &.number-minus-cart{
            width: 30px;
            height: 30px;
        }
        &.number-plus-cartMain, &.number-minus-cartMain{
            border-radius: 100%;
            border: 1.5px solid $green-vegan;

            &.disabled{
                opacity: .6;
            }
        }

        &.number-minus-cartMain{
            background-color: $white !important;
            &::after{
                background-color: $green-vegan !important;
            }
        }

        &.number-plus-cartMain{
            background-color: $green-vegan !important;
            &::before, &::after{
                background-color: $white !important;
            }
        }
    }

    .input-number{
        border: unset;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 5px;
    }
}