// -----------------------------------------------------------------------------
// This file contains all slider-tab styles.
// -----------------------------------------------------------------------------

@import '../public';

.slrd-tbs{
    position: relative;
    @include on-event {
        .arrow-scrl {
            visibility: visible;
        }
    }

    .arrow-scrl {
        position: absolute;
        top: 5px;
        z-index: 1;
        visibility: hidden;

        &.prev-scr {
            left: 0;
            button{
                &:before {
                    content: "\f104";
                }
            }
        }

        &.next-scr {
            right: 0;
            button{
                &:before {
                    content: "\f105";
                }
            }
        }

        button {
            border: unset;
            padding: 0;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            background: rgba(0, 0, 0, 0.1);
            color: white;
            backdrop-filter: blur(5px);

            &:before{
                font-size: 20px;
                font-family: "Font Awesome 5 Free";
            }
        }
    }

    .nav {
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: unset;
        white-space: nowrap;
        scrollbar-color: transparent transparent;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0 !important;
            height: 0 !important;
        }

        &::-webkit-scrollbar-track {
            box-shadow: unset !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent !important;
            outline: unset !important;
            box-shadow: unset !important;
        }

        .nav-item {
            display: inline-block;
            text-align: center;
            width: auto;
            margin: 0 5px 0;
            position: relative;

            &:nth-child(1) {
                margin-left: 0;
            }

            .nav-link {
                color: $grey-txt !important;
                font-size: 15.5px;
                padding: 10px 20px;
                border-radius: 10px;
                font-family: "Asap_reg", sans-serif !important;

                &.active {
                    color: $white !important;
                    background-color: $primary-pink;
                }

                @include on-event {
                    color: $white !important;
                    background-color: $primary-pink;
                }
            }
        }
    }
}