// -----------------------------------------------------------------------------
// This file contains all syotimer styles.
// -----------------------------------------------------------------------------

@import '../public';

.syotimer-oz{
    .syotimer__body{
        display: inline-flex;
        .syotimer-cell{
            position: relative;
            padding-right: 7px;
            .syotimer-cell__value{
                font-size: 14px;
                padding: 3px;
                font-family: "Asap_reg", sans-serif !important;
                @include respond-max(sm-tablet) {
                    padding: 3px 1px;
                }
            }
            .syotimer-cell__unit{
                display: none;
            }
            &:last-child{
                padding-right: 0 !important;
                &::after{
                    content: '';
                }
            }
            &::after{
                position: absolute;
                right: 0;
                top: 0;
                content: ':';
                font-size: 16px;
                font-family: "Asap_reg", sans-serif !important;
                line-height: 25px;
                @include respond-max(sm-tablet) {
                    &::after{
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
            }
        }
    }
}