// -----------------------------------------------------------------------------
// This file contains all forgot password styles.
// -----------------------------------------------------------------------------

.forgotpw-page{
    .logo-oz{
        width: 275px;
        margin: 50px auto 30px;
        padding-top: 20px;
        .logo-vegan-text{
            width: 85%;
        }
    }
    .sec-forgotpw{
        width: 400px;
        margin: auto;
        margin-top: 70px;
    }
}