// -----------------------------------------------------------------------------
// This file contains all button styles.
// -----------------------------------------------------------------------------

button{
    cursor: pointer;
}

.btn-vegan {
    width: 100%;
    letter-spacing: .04em;
    background-color: transparent;
    padding: 9px 16px;
    font-size: 14px;
    height: auto;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 8px;
    line-height: 18px;
    display: block;
    @include respond-max(sm-tablet) {
        padding: 8px 16px;
    }
    @include respond-max(lg-mobile) {
        padding: 8px 10px;
    }
    @include on-event{
        opacity: .8 !important;
    }

    &.orange-btn{
        background-color: $text-orange;
        color: $white !important;
        border: 1px solid $text-orange;
        width: auto;
    }

    &.green-btn{
        background-color: $white;
        color: $green-vegan !important;
        border: 1px solid $green-vegan;
        width: auto;
    }

    &.green-white{
        background-color: transparent;
        color: $green-vegan !important;
        border: 1px solid $light-grey-bg;
        width: auto;
    }

    &.green-bg-btn{
        background-color: $green-vegan;
        color: $white;
        text-align: center !important;
        border: 1px solid $green-vegan !important;
    }

    &.green-border-btn{
        background-color: $white;
        color: $green-vegan;
        text-align: center !important;
        border: 1px solid $green-vegan !important;
    }

    &.txt-btn{
        padding: 0;
        font-size: 14px;
        letter-spacing: normal;
        border: unset;
    }

    &.share-btns{
        width: 110px;
        border: 1px solid $light-grey-bg;
        background-color: $white;
        color: $lght-gsh !important;
        font-family: "Asap_medium", sans-serif !important;
        .share-icons{
            padding-right: 5px;
            img{
                width: 14px;
            }
        }
    }

    &.--transparent-btn {
        background-color: transparent !important;
        color: $lght-gsh;
        text-align: center !important;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
    }

    // &.--add-toChart{
    //     border-color: $grey;
    //     @include on-event{
    //         background-color: #F4F4F4;
    //         border-color: #F4F4F4;
    //     }
    // }

    // &.submit-btn-filter{
    //     background-color: $primary-pink;
    //     color: $white;
    //     border: 1px solid $primary-pink;
    // }

    // &.share-btns{
    //     width: 110px;
    //     border: 1px solid $light-grey-bg;
    //     background-color: $white;
    //     .share-icons{
    //         padding-right: 5px;
    //         img{
    //             width: 12px;
    //             margin-bottom: 2px;
    //         }
    //     }
    // }

    // &.--shows{
    //     border: 1px solid $grey !important;
    //     width: 100%;
    //     font-size: 14px;
    //     text-transform: capitalize;
    //     color: #333333;
    // }

    // &.--gry-btn {
    //     background-color: rgb(240, 240, 240) !important;
    //     color: $black;
    //     text-align: center !important;
    //     border: 1px solid rgb(240, 240, 240) !important;
    // }

    // &.green-bg-btn-gry{
    //     background-color: $white;
    //     color: $primary-pink;
    //     text-align: center !important;
    //     border: 1px solid rgba(0, 0, 0, 0.1) !important;

    //     &.--clr-blck{
    //         color: $black !important;
    //     }
    // }
}

.search-icn{
    background-image: url('../../../dist/fe/icons/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: unset;
}