// -----------------------------------------------------------------------------
// This file contains all global search styles.
// -----------------------------------------------------------------------------

#formGlobalSearch {
    position: relative;

    .bordr{
        border: 1px solid $baby-pink !important;
        border-radius: 5px;
    }

    #globalSearchResult {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;
        display: none;
        margin-top: 10px;

        .box-search-public{
            grid-template-columns: repeat(2, minmax(1px, 1fr));
            grid-gap: 0;
            align-items: flex-start;
            @include respond-max(md-dekstop) {
                grid-template-columns: minmax(1px, 1fr);
            }
        }

        .search-img-container {
            box-sizing: border-box;
            height: 100%;
            border-radius: 3px;
        }

        .search-img {
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .ls-globalSearchResult{
            padding: 15px;
            height: 100%;
            &.active-search{
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:nth-child(even){
                    border-right: unset;
                }
                @include respond-max(md-dekstop) {
                    border-right: unset;
                }
            }
            .top-global-search-list{
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, minmax(1px, auto));
                grid-gap: 10px;
                margin-bottom: 10px;
            }
            .ls-article-src{
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 10px;
                padding-bottom: 10px;
                &:last-child{
                    border-bottom: unset;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            .global-search-list{
                .item-search-list {
                    display: block;
                    margin-bottom: 15px;
    
                    .grid-global-search {
                        &.--gr-prdct{
                            grid-template-columns: minmax(1px, 60px) minmax(1px, auto);
                            display: grid;
                            grid-gap: 8px;
                            align-items: flex-start;

                            .search-img {
                                height: 60px;
                            }
                        }

                        &.--gr-news{
                            grid-template-columns: minmax(1px, 100px) minmax(1px, auto);
                            display: grid;
                            grid-gap: 8px;
                            align-items: flex-start;

                            .search-img {
                                height: 60px;
                                position: relative;

                                .category-pills{
                                    position: absolute;
                                    top: 5px;
                                    left: 5px;
                                    background: rgba(0, 0, 0, 0.5);
                                    border-radius: 50px;
                                    color: $white;
                                    font-size: 11px;
                                    padding: 3px 8px;
                                }
                            }
                        }

                        .date-blg{
                            small{
                                font-size: 11px;
                                color: rgba(0, 0, 0, 0.6);
                            }
                            .viewers-icn {
                                width: 16px;
                            }
                        }
            
                        h6{
                            color: $black;
                            text-transform: capitalize;
                            margin-bottom: 2px !important;
                            line-height: 19px;
                            font-size: 13px;

                            &.price{
                                color: $primary-pink;
                            }
                        }
                    }
        
                    &:last-child {
                        margin-bottom: 0;
                        .grid-global-search {
                            h6{
                                margin-bottom: 0;
                            }
                        }
                    }
    
                    @include on-event{
                        .grid-global-search {
                            h6{
                                opacity: .8;
                            }
                        }
                    }
                }
            }
            .view-all{
                text-align: left;
                display: block;
                a{
                    color: $green-vegan;
                    @include on-event{
                        opacity: .8;
                    }
                }
            }
        }
    }
}

.sort-desk-search{
    margin: 20px auto;
    border-bottom: 1px solid #E7E7E7;
}