// -----------------------------------------------------------------------------
// This file contains all helpers styles.
// -----------------------------------------------------------------------------

.container{
    padding-left: 20px;
    padding-right: 20px;
}

.bg-pink-ouz{
    background-color: #FDEDF1;
}

.--mob-view{
    display: none;
    @include respond-max(sm-tablet) {
        display: inherit;
    }
}

.--desk-view{
    display: inherit;
    @include respond-max(sm-tablet) {
        display: none;
    }
}

.--lg-desk-view{
    display: inherit;
    @include respond-max(lg-tablet) {
        display: none;
    }
}

.border-light-grey {
    border: 0.5px solid $grey;
}

.border-light-bg {
    border: 0.5px solid $light-grey-bg;
}

.mob-hidden{
    @include respond-max(sm-tablet) {
        display: none;
    }
}

.mob-sdbr-acc{
    display: none;
    @include respond-max(md-dekstop) {
        display: block;
        margin-bottom: 20px;
        button{
            letter-spacing: 0.02em;
            font-size: 16px;
            width: 100px;
            i{
                font-size: 14px;
            }
        }
    }
}

.rounded {
    border-radius: 10px !important;
}

.mdl-dwn{
    .modal-body{
        .gr-autoo{
            width: 300px;
            margin: auto;
            margin-top: 20px;
            @include respond-max(sm-tablet) {
                width: 270px;
            }
            @include respond-max(lg-mobile) {
                width: 230px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.product_size{
    // &.is_variant-size{
    //     .custom-radio {
    //         .variant_size {
    //             &[type="radio"] {
    //                 &:checked,
    //                 &:not(:checked) {
    //                     +label {
    //                         width: 23px;
    //                         height: 23px;
    //                         padding: 0;
    //                         &::before {
    //                             width: 23px;
    //                             height: 23px;
    //                             border: unset;
    //                             background: var(--vriant-bg-color);
    //                         }
    
    //                         &::after {
    //                             width: 29px;
    //                             height: 29px;
    //                             border: 2px solid $light-grey-bg;
    //                             background: transparent;
    //                             top: -3px;
    //                             left: -3px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    
    //         .ct-inpts {
    //             padding: 15px 0 0 30px;
    //         }
    //     }
    // }
}

.headertess{
    text-align: center;
}

.headertess > a{
    color: red;
}

.testp + p{
    color: red;
}

@media screen and(max-width: 500px) {
    body{
        color: #222;
    }
}

// .testp{
//     p{
//         // &:nth-of-type(2n){
//         //     background: aliceblue;
//         // }
//         // &:nth-child(2n){
//         //     background: aliceblue;
//         // }
//         // + p{
//         //     background: aliceblue;
//         // }
//         // &:nth-of-child(2n){
//         //     background: aliceblue;
//         // }
//     }
// }