// -----------------------------------------------------------------------------
// This file contains all images styles.
// -----------------------------------------------------------------------------

.cnter-img{
    margin: auto;
    display: block;
}

.w-img-80{
    width: 80%;
}

.w-img-60{
    width: 60%;
}

.img-usr{
    width: 70px;
}