// -----------------------------------------------------------------------------
// This file contains all slick slider styles.
// -----------------------------------------------------------------------------

.slick-slider{
    .slick-list{
        .slick-track{
            margin: 0 !important;
        }
    }
    &.--slider-main{
        .box-sldr{
            padding: 10px 10px;
            @include respond-max(lg-mobile) {
                padding: 10px 5px 10px;
            }
            @include respond-max(sm-tablet) {
                padding: 10px;
            }
        }
    }
    &.slick-arrow-custom{
        .slick-arrow{
            &.slick-prev{
                left: -30px;
            }
            &.slick-next{
                right: -30px;
            }
        }
    }
    @include on-event{
        .slick-arrow{
            visibility: visible;
        }
    }
    .slick-arrow {
        border: unset !important;
        border-radius: 50px !important;
        color: $white;
        backdrop-filter: blur(5px);
        z-index: 1 !important;
        visibility: hidden;
        height: 30px !important;
        width: 30px !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
        top: 50%;
        @include respond-max(lg-tablet) {
            background-color: $light-grey-bg !important;
        }

        &::before{
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 20px;
        }

        &.slick-prev {
            left: 0;
            @include respond-max(lg-tablet) {
                left: 20px;
            }
            @include respond-max(lg-mobile) {
                left: 15px;
            }
            &::before {
                content: '\f104';
            }
        }

        &.slick-next {
            right: 0;
            @include respond-max(lg-tablet) {
                right: 20px;
            }
            @include respond-max(lg-mobile) {
                right: 15px;
            }
            &::before {
                content: '\f105';
            }
        }

        &.slick-disabled {
            display: none !important;
        }
    }

    .slick-dots {
        li {
            width: 8px;
            height: 8px;

            button {
                padding: 0;
                width: 8px;
                height: 8px;

                &::before {
                    color: $green-vegan !important;
                    opacity: .5 !important;
                    width: 8px;
                    height: 8px;
                    font-size: 8px;
                    line-height: 8px;
                }
            }

            &.slick-active {
                width: 11px;
                height: 11px;
                button {
                    width: 11px;
                    height: 11px;
                    &::before {
                        width: 11px;
                        height: 11px;
                        font-size: 11px;
                        line-height: 11px;
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}

.--main-sldr{
    margin: 0;
    .slick-slider{
        padding: 0 30px;
        .slick-list{
            margin: 0 -10px 10px;
        }
    }
    @include respond-max(sm-tablet){
        // margin: 0 -20px;
        .slick-slider{
            padding: 0 20px;
            .slick-list{
                margin: 0 -10px 10px;
            }
        }
    }
}