// -----------------------------------------------------------------------------
// This file contains all swal styles.
// -----------------------------------------------------------------------------

.swal2-popup{
    box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.04);
}

.notif-me{
    margin-top: 20px;
    padding: 6px 15px;
}

.title-reminder{
    margin: 20px 0 10px;
}