// -----------------------------------------------------------------------------
// This file contains all toggle styles.
// -----------------------------------------------------------------------------

.filter-sort {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 30px;
    background-color: $white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), -8px -4px 20px rgba(218, 218, 218, 0.2);
    border-radius: 5px;

    .sec-btn-filter-sort {
        display: grid;
        grid-template-columns: repeat(2, minmax(1px, .5fr));
        grid-gap: 0;
        margin: 10px;
        width: 200px;

        div {
            &:first-child {
                border-right: 1.5px solid $grey;
            }
        }
    }
}

.content-filtersort{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;

    .ct-bd-fltrs{
        position: relative;
        .ghgds{
            width: 70px;
            height: 10px;
            border-radius: 50px;
            background-color: $white;
            margin: 10px auto;
        }
    }

    .ct_filtersort{
        width: 100%;
        background-color: $white;
        .head-pop {
            padding: 15px 20px;
            display: grid;
            grid-template-columns: minmax(1px, auto) minmax(1px, 15px);
            grid-gap: 10px;

            .close-pop {
                a {
                    img {
                        width: 12px;
                    }
                }
            }
        }

        .body-pop {
            ul {
                padding-inline-start: 0;

                li {
                    width: 100%;
                }
            }

            &.body-pop-sort {
                border-top: 1px solid $grey;

                ul {
                    .list-pops {
                        padding: 10px 20px;

                        a {
                            font-size: 16px;
                            color: $black;
                            width: 100%;
                            display: inline-block;

                            @include on-event {
                                color: $fourth-pink !important;
                            }

                            &.active {
                                color: $primary-pink !important;
                                position: relative;

                                &::after {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    content: '';
                                    background-image: url('../../../assets/icons/check.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    height: 15px;
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
            }

            &.body-pop-filter {
                ul {
                    .list-pops {
                        padding: 15px 20px 30px;
                        border-top: 1px solid $grey;

                        .slider-range {
                            .input-sec-range {
                                display: grid;
                                grid-template-columns: minmax(1px, .5fr) minmax(1px, .5fr);
                                grid-gap: 10px;
                                margin: 20px 0;

                                @include respond-max(lg-mobile) {
                                    grid-template-columns: minmax(1px, auto)
                                }

                                .range-minimum {
                                    margin-right: auto;
                                }

                                .range-maksimum {
                                    margin-left: auto;
                                }

                                .range-minimum,
                                .range-maksimum {
                                    @include respond-max(lg-mobile) {
                                        margin: 0 !important;
                                        margin-bottom: 10px !important;
                                    }
                                }

                                .price-range-field {
                                    width: 100%;
                                    background-color: transparent;
                                    border: unset;
                                    border-bottom: 1px solid $grey;
                                    color: $black;
                                    padding: 5px;

                                    &::-webkit-outer-spin-button,
                                    &::-webkit-inner-spin-button {
                                        appearance: none;
                                        margin: 0;
                                    }

                                    &[type=number] {
                                        appearance: textfield;
                                    }
                                }
                            }

                            .price-filter-range {
                                border: unset;
                                height: 10px;
                                width: calc(100% - 15px);
                                background: #E3E3E3;
                                border-radius: 50px;
                                margin: 10px auto;

                                .ui-widget-header {
                                    background: rgb(238, 131, 165);
                                    opacity: .5;
                                    border-radius: 50px;
                                }

                                .ui-slider-handle {
                                    border-radius: 50%;
                                    background-color: $baby-pink;
                                    border-color: transparent;
                                }
                            }
                        }

                        .list-rates {
                            margin-left: -5px;

                            ul {
                                display: flex;
                                flex-direction: row;

                                li {
                                    margin: 5px;

                                    button {
                                        border-radius: 10px;
                                        border: 1px solid $grey;
                                        padding: 8px 10px;
                                        font-size: 14px;
                                        transition: all .3s ease-in-out;
                                        width: 100%;
                                        color: rgba(0, 0, 0, 0.6);

                                        i {
                                            color: $gold;
                                            font-size: 14px;
                                            margin-right: 5px;
                                        }

                                        @include on-event {
                                            border-color: $gold;
                                            background-color: $gold;
                                            color: $white;

                                            i {
                                                color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .filter-brand {
                            .slider-brand {
                                .slick-list {
                                    padding-right: 10%;
                                    margin-left: -5px;

                                    .slick-track {
                                        .slick-slide {
                                            margin: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-sbt-sec {
                    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
                    padding: 10px 20px;
                }
            }
        }
    }
}
