// -----------------------------------------------------------------------------
// This file contains all truncate styles.
// -----------------------------------------------------------------------------

.truncate-texts {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.--two {
        -webkit-line-clamp: 2;
    }

    &.--three {
        -webkit-line-clamp: 3;
    }

    &.--four {
        -webkit-line-clamp: 4;
    }

    &.--five {
        -webkit-line-clamp: 5;
    }

    &.--eight {
        -webkit-line-clamp: 8;
    }

    &.--upld{
        &:after{
            line-height: 40px !important;
        }
    }
}
