// -----------------------------------------------------------------------------
// This file contains all login styles.
// -----------------------------------------------------------------------------

@import './public';

#app-login{
    background-image: url('../../../../public/images/pag1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .overlay-app{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background: linear-gradient(180deg, rgba(9, 27, 33, 0.42) 0%, #152931 150%);
    }

    main{
        padding-top: 100px;
    }
}

.login-sec{
    #formLogin{
        .form-group{
            margin-bottom: 20px;
            .form-control{
                display: block;
                width: auto;
                padding: 15px 0;
                margin-bottom: 0;
                margin-top: 5px;
            }
            input, select, .select2-container, .select2-multiplect[multiple="multiple"]{
                height: auto;
            }
            .invalid-feedback{
                strong{
                    text-transform: capitalize;
                    color: #d84949;
                }
            }
            .bottom-logg{
                margin-top: 40px;
            }
        }
        .float-inpt-fld{
            .floatfield{
                &:active, &:focus{
                    border: .5px solid $white !important;
                }
                @include on-event{
                    border: .5px solid $white !important;
                }
            }
            .field-icon {
                bottom: 15px;
                color: $white;
            }
        }
        input{
            &.form-control{
                border: 1px solid $white;
                color: $white;
            }
        }
        label{
            font-size: 15px;
        }
    }
}

.box-login{
    background-color: #ffffff;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.67);
    position: relative;
    z-index: 1;

    .card{
        margin: auto;
        display: block;
        text-align: center;

        .card-header{
            font-size: 30px !important;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }
}
