// -----------------------------------------------------------------------------
// This file contains all detail voucher styles.
// -----------------------------------------------------------------------------

@import '../../../public';

.detailvoucher {
    section {
        &.sec-detailvoucher {
            .modalpoints{
                .modal-body{
                    .cover-point-mdl{
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        padding-top: 80%;
                    }
                }
            }
            .box-detailvoucher{
                background: $white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                .border-bottom-large{
                    border-bottom: 8px solid #FAFAFA;
                }
                .arrow-icns{
                    background-image: url('../../../../icons/arrow-grey.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    display: block;
                    transform: rotate(-90deg);
                }
                .menu-poin{
                    padding: 15px 20px;

                    .ksjak{
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                    }
                    
                    .gr-detailvchs{
                        grid-template-columns: minmax(1px, auto) minmax(1px, 351px);
                        grid-gap: 25px;
                        align-items: flex-start;
                        @include respond-max(lg-dekstop) {
                            grid-template-columns: minmax(1px, auto);
                        }
                        .detail-mns{
                            .img-crd-point{
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                padding-top: 55%;
                                border-radius: 10px;
                                margin-bottom: 10px;
                            }
                            .tabmenu-detail-voucher{
                                margin-top: 20px;
                            }
                        }
                        .detail-promo-info{
                            background: $white;
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                            border-radius: 8px;
                            @include respond-max(lg-dekstop){
                                box-shadow: unset;
                                border: 1px solid #E7E7E7;
                            }
                            .ls-detail-promo-info{
                                padding: 15px 20px;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                grid-template-columns: repeat(2, minmax(1px, 1fr));
                                grid-gap: 10px;
                                @include respond-max(lg-dekstop){
                                    &:last-child{
                                        border-bottom: unset;
                                    }
                                }
                                @include respond-max(lg-mobile) {
                                    grid-template-columns: minmax(1px, auto);
                                }
                                @include respond-min(mid-lg-mobile) {
                                    .rightkshaha{
                                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                                        padding-left: 10px;
                                    }
                                }
                                .dsdhs{
                                    text-align: right;
                                    .shares-smd{
                                        display: inline-flex;
                                        gap: 5px;
                                        a{
                                            i{
                                                background-color: transparent;
                                                color: rgba(0, 0, 0, 0.4);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.tkrpoins{
    width: 105px; 
    margin-left: auto;
    @include respond-max(lg-mobile) {
        width: 100%;
        margin-left: 0;
    }
}