// -----------------------------------------------------------------------------
// This file contains all typography style.
// -----------------------------------------------------------------------------

// .f-Asap_reg {
//     font-family: "Asap_reg", sans-serif !important;
// }


.main-title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 40px;
    color: $blue-dasibana !important;
    letter-spacing: .04em;
    font-family: "asap_reg", sans-serif !important;
}


.title-footer{
    font-size: 18px;
    color: $blue-dasibana !important;
    font-family: "asap_med", sans-serif !important;
    text-align: left;
    text-transform: uppercase !important;
    margin: 20px 0;
}

.subs-title{
    letter-spacing: .1em !important;
    font-family: "asap_reg", sans-serif !important;
}
