// -----------------------------------------------------------------------------
// This file contains all typography style.
// -----------------------------------------------------------------------------

// .f-Asap_reg {
//     font-family: "Asap_reg", sans-serif !important;
// }


.main-title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 40px;
    color: $blue-dasibana !important;
    letter-spacing: .04em;
    line-height: 50px;
    font-family: "asap_reg", sans-serif !important;
    @include respond-max(mid-md-dekstop) {
        margin: 15px;
    }
    @include respond-max(mid-sm-tablet) {
        font-size: 28px;
        line-height: 34px;
    }
}


.title-footer{
    font-size: 18px;
    color: $blue-dasibana !important;
    font-family: "asap_med", sans-serif !important;
    text-align: left;
    text-transform: uppercase !important;
    margin: 20px 0;
    @include respond-max(mid-lg-tablet) {
        font-size: 16px;
    }
}

.subs-title{
    letter-spacing: .1em !important;
    font-family: "asap_reg", sans-serif !important;
}

.truncate-texts {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.--two {
        -webkit-line-clamp: 2;
    }

    &.--three {
        -webkit-line-clamp: 3;
    }

    &.--four {
        -webkit-line-clamp: 4;
    }

    &.--five {
        -webkit-line-clamp: 5;
    }

    &.--eight {
        -webkit-line-clamp: 8;
    }

    &.--upld{
        &:after{
            line-height: 40px !important;
        }
    }
}
